@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&display=swap');

.root {
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: center;
    padding: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);

    input[type="date"] {
        font-family: "Alumni Sans Pinstripe", sans-serif;
        font-weight: 800;
        border: none;
        outline: none;
        font-size: 28px;
        width: 110px;
        padding-left: 4px;
        position: relative;
        cursor: pointer;
    }

    input[type='date']::-webkit-calendar-picker-indicator {
        position: absolute;
        width: 100%;
        height: 100%;
        color: transparent;
        background: transparent;
    }

    button {
        width: 36px;
        height: 36px;
        line-height: 0;
    }

}

.rootDate {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: start;
    overflow: hidden;
    width: 100%;
    flex-wrap: nowrap;
    min-height: 56px;
    max-height: 56px;

    border-bottom: 4px solid var(--gray-border-color);
    
    & > div { padding: 8px; }
    
    button {
        font-family: "Alumni Sans Pinstripe", sans-serif;
        font-weight: 600;
        font-style: italic;
        font-size: 28px;
        line-height: 1;
        width: 42px;
        height: 40px;
        position: relative;
        padding: 4px 0;
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            display: block;
            width: 12px;
            height: 6px;
            background-color: var(--point-color);
            border-radius: 12px;
            opacity: 0;
        }
    }
    .active {
        &::after {
            opacity: 1;
            transition: all .2s;
        }
    }
}