.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    min-width: 300px;
    border-radius: 12px;
    overflow: hidden;

    p.title {
        padding: 16px 8px 16px 24px;
        font-weight: 600;
        border-bottom: 1px solid var(--gray-border-color);
        i { font-size: 24px; line-height: 0; vertical-align: middle; }
    }

    .body {
        padding: 24px 24px 0 24px;
        & > *:last-child { padding-bottom: 24px; }
        & > button:last-child {
            margin-top: 24px;
            margin-left: -24px;
            margin-right: -24px;
            width: calc(100% + 48px);
            background: var(--point-color);
            color: #FFF;
            border-radius: 0;
            font-weight: 600;
        }
    }
}

