html {
  overflow: hidden;

  --header-height: 60px;
  /* 색 */
  --text-color: #333333;
  --text-dim-color: rgba(0,0,0,0.3);
  --point-color: rgb(255, 28, 104);
  --point-dim-color: rgb(255, 151, 186);
  --gray-border-color: #dedede;
}

* {
  font-family: 'Noto sans KR', sans-serif;
  font-weight: 400;
  color: inherit;
}

pre {
  font-family: 'Noto sans KR', sans-serif;
}

*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 100px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: rgba(0,0,0,0.15);
}

p, ul { margin: 0; padding: 0 }
ul { list-style: none; }

div, input, fieldset, select {
  border-color: var(--gray-border-color);
}

textarea {
  resize: none;
}

#root {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: stretch;
  width: 100vw;
  height: 100vh;
  background:var(--point-dim-color);
  overflow: hidden;
}

#loginForm {
  width: 800px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  height: 100vh;
  z-index: 100;
}

#root > #main_section {
  width: 800px;
  background: #FFF;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 20px 0 #191E2333;
  position: relative;
}

#root > #main_section > .container {
  flex-grow: 1;
  overflow: hidden;
  padding: 0;
  max-width: 100% !important;
}

#main_section > main.container > section {
  max-height: 100%;
  overflow-y: auto;
}

.p-20 {
  padding: 20px;
}

#root > #side_section {
  width: 400px;
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  justify-content: start;
}

#root > #side_section .btn {
  height: 47px;
  font-weight: 500;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.point { color: var(--point-color); }
.text-gray { color: var(--text-dim-color); }

.bg-point { background-color: var(--point-color); }
.bg-gray { background-color: var(--gray-border-color); }

/* border 관련 */
.border { border: 1px solid; }
.border-top { border-top: 1px solid; }
.border-left { border-left: 1px solid; }
.border-bottom { border-bottom: 1px solid; }
.border-right { border-right: 1px solid; }
.border-gray { border-color: var(--gray-border-color); }
.border-point { border-color: var(--point-color) !important; }
.border-radius-0 { border-radius: 0; }
.border-radius-12 { border-radius: 12px; }
.border-radius-20 { border-radius: 20px; }

/* flex 관련 */
.flex-grow { flex-grow: 1; }
.gap-8 { gap: 8px; }
.gap-20 { gap: 20px; }

.pointer { cursor: pointer; }

.btn-none { border-color: transparent !important; }
.overflow-y-auto { overflow-x: hidden; }


button.btn-primary, a.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--point-color);
    --bs-btn-border-color: var(--point-color);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--point-color);
    --bs-btn-hover-border-color: var(--point-color);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--point-color);
    --bs-btn-active-border-color: var(--point-color);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--point-color);
    --bs-btn-disabled-border-color: var(--point-color);
}

.border-primary {
  border-color: var(--point-color) !important;
}